@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css or global.css */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
  }



/* Landing.css */
@keyframes up-down {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

.overlay-text {
  animation: up-down 4s infinite ease-in-out;
}



@keyframes meteor-effect {
  0% {
    transform: translateY(-100vh) translateX(100vw); /* Start from top-left corner */
    opacity: .4;
  }
  100% {
    transform: translateY(100vh) translateX(-100vw); /* End at bottom-right corner */
    opacity: 0;
  }
}

.animate-meteor-effect {
  animation: meteor-effect 5s linear infinite;
}

