@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css or global.css */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
  }



/* Landing.css */
@keyframes up-down {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

.overlay-text {
  animation: up-down 4s infinite ease-in-out;
}
